

/* ----- Body ----- */
body{
    background-color:#1e1e1e;
    color:#c5c8c6;
    font-family: 'Cabin Sketch';
    background-image:url("images/background.jpg");
    background-size:cover;
    background-attachment: fixed;
}

/* ----- Colors ---- */
.orange{
    color:#ce4f17;
}
.lilac{
    color:#8872a2;
}
.blue{
    color:#6089a5;
}
.gray{
    color:#676867;
}
.red{
    color:#bc2e24;
}
.green{
    color:#9aa832;
}
.yellow{
    color:#eef442;
}
#orange-container{
    color:#ce4f17;
    border-bottom:3px solid #ce4f17;
}
#lilac-container{
    color:#8872a2;
    border-bottom:3px solid #8872a2;
}
#blue-container{
    color:#6089a5;
    border-bottom:3px solid #6089a5;
}
#gray-container{
    color:#676867;
    border-bottom:3px solid #676867;
}
#red-container{
    color:#bc2e24;
    border-bottom:3px solid #bc2e24;
}
#green-container{
    color:#9aa832;
    border-bottom:3px solid #9aa832;
}
#yellow-container{
    color:#eef442;
    border-bottom:3px solid #eef442;
}
/* ----- Splash Screen ----- */
#splash{
    display:flex;
    align-items:center;
    justify-content: center;
    text-align:center;
    margin-top:100px;
}
#splash h1{
    font-size:3.5em;
}
#splash h2{
    font-size:2.5em;
}

#splash .container input, .container button{
    background:#303030;
    border:1px solid #303030;
    padding:20px;
    font-size:1.5em;
    font-weight: bold;
    text-transform:uppercase;
}
#splash .container input:invalid{
    border:1px solid #bc2e24;
    color:#bc2e24;
}
#splash .container input:focus, #splash .container button:focus{
    outline:#303030;
}
#splash .container button{
    cursor:pointer;
}

/* ----- Game Screen ---- */
#game .container{
    display:flex;
    justify-content: space-between;
    height:20%;
    padding:20px 50px 0;
}
#game .lifes-array{
    text-align:center;
    font-size:80px;
}
#game .letters-used{
    font-size:80px;
    color:#bc2e24;
    text-transform: uppercase;
}
#game .input-letter{
    width:100px;
    font-size:80px;
    text-align:center;
    text-transform:uppercase;
    background:#303030;
    border:1px solid #303030;
    color:#9aa832;
}
#game .input-letter:focus{
    outline: #330033;
}
#game .input-letter:invalid{
    border:1px solid #bc2e24;
    color:#bc2e24;
}
#game .game-screen{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:80%;
}
#game .hang-man{
    margin:20px;
    width:300px;
    height:400px;
}
#game .word-flex{
    display:flex;
    justify-content: center;
    text-transform: uppercase;
}
#game .word-flex div{
    text-align:center;
    min-width:70px;
    margin:0 10px;
    padding:10px;
    height:80px;
    font-size:0;
}
#game .word-flex span{
    transition:1s;
}
#game .word-flex .visible{
    font-size:80px;
    transition:1s;
}

#game .clue{
    min-height:30px;
}
#game .clue-button{
    font-size:50px;
    cursor:pointer;
    background:none;
    border:none;
    text-align:center;
    position:fixed;
    bottom:30px;
    right: 30px;
    font-family:'Cabin Sketch';
    transform: skewY(-25deg);
    display:none;
}
#game .clue-button:focus{
    outline:none;
}

/* ----- Game Over ---- */
#game-over{
    text-align:center;
    margin-top:100px;
}
#game-over h1{
    font-size:3.5em;
}
#game-over button{
    background:#303030;
    border:1px solid #303030;
    padding:20px;
    font-size:1.5em;
    font-weight: bold;
    text-transform:uppercase;
}
#game-over button:focus{
    outline:#303030;
}
#game-over .dino-lose{
    margin:20px 0;
}

/* ----- Shake ----- */
/* Standard syntax */
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  
.apply-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
 }